
<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="viewport" content="width=device-width; initial-scale=0.6; maximum-scale=1.0; user-scalable=1.0;">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
		        	<li><a href="/music">music</a></li>
				<li><a href="/writings">words</a></li>
				<li><a href="/performance">film/performance</a></li>
				<li><a href="/apps">apps</a></li>
				<!--<li><a href="/blog">blog</a></li>-->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="/contact">contact</a></li>
				<li><a href="https://www.facebook.com/suihinmak/">fb</a></li>
				<li><a href="https://www.patreon.com/maksuihin">patreon</a></li>
				<li><a href="https://www.paypal.me/maksuihin">donate</a></li>
	        		<!--<li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=FANNBYCJR5TLA">donate</a></li>-->
				</ul>
			</footer>
		</body>
	</html>
