<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="viewport" content="width=device-width; initial-scale=0.6; maximum-scale=1.0; user-scalable=1.0;">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
		        	<li><a href="/works">music works</a></li>
	        		<li><a href="/blog">blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:maksuihin@gmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
