<!DOCTYPE html>
<html> 
<head> 
<title>{{ page.title }}
</title>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<meta name="viewport" content="width=device-width; initial-scale=0.6; maximum-scale=1.0; user-scalable=1.0;">
</head>  <body>   <nav>       <ul>
<li><a lang="zh" href="/" color="">【每日新知】</a></li>
<li><a lang="zh" href="/works">科技</a></li>
<li><a lang="zh" href="/writings">文藝</a></li>
<li><a lang="zh" href="/blog">社會</a></li>
<li><a lang="zh" href="/blog">哲學</a></li>
</ul>   </nav>   <div class="container">
{{ content }}
</div><!-- /.container -->
<footer>       <ul>
<li><a lang="zh" href="/contact">聯絡我們</a></li>
<li><a lang="zh" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=FANNBYCJR5TLA">投稿</a></li>
</ul>   </footer>  </body> </html>
